@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.woff2') format('woff2'),
      url('./Roboto-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

body {
  width: 100vw;
  height: 100vh;
  background-color: #ebe8e8;
}

body {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
}

header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 2rem;
  background-color: #13262f;
  color: white;
  grid-column: 1/3;
  grid-row: 1/2;
}

.leftColumn {
  background-color: #DCDCDC;
  padding: 2rem;
  gap: 5px;
  grid-column: 1/2;
  grid-row: 2/4; 
  display: flex;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftColumn h1 {
  text-align: center;
}

#defaultProject {
  width:max-content;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectButton {
  width: 75%;
}

.projectRemove {
  width: 25%;
}

.createProjects {
  border: none;
  font-size: large;
  background-color: #DCDCDC;
  padding: .5rem;
}

.content {
  grid-template-columns: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-auto-flow: row;
  align-self: start;
  gap: .25rem;
  padding: 1rem;
}

.newItemWrapper { 
  height: fit-content;
  justify-content: center;
  padding: .5rem;
  display: flex;
  padding: 1rem;
}

#newItem {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 80%;
  height: auto;
  border: none;
  font-size: larger;
  background-color: #ebe8e8;
  padding: .5rem;
  border-radius: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: .5rem;
}

.card {
  display: flex;
  padding: 1rem;
  height: fit-content;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

.card p {
  margin-left: auto;
  padding: .25rem;
}

.card ul {
  display: flex;
  flex-direction: row;
}

.card:hover {
  filter: brightness(97%);
}

.dueDate {
  display: flex;
}

.description {
  font-size: .75rem;
}

.formWrapper {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

#form {
  height: fit-content;
  width: fit-content;
  border: 1px black solid;
  padding: 1.5rem;
  background-color: whitesmoke;
}

#form legend {
  text-align: center;
}

fieldset {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 5px;
  border: none;
}

#radio-group {
  display: inline-block;
}

.submitWrapper {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

#submit, #close, #submitEdit {
  width: 100px;
}

textarea {
  resize: none;
}

#submitEdit {
  display: none;
}

.remove, .edit, .complete {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: whitesmoke;
}

button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

.remove {
  background-image: url("/src/images/remove.svg");
}

.edit {
  background-image: url("/src/images/edit.svg");
}

.complete {
  background-image: url("/src/images/complete.svg");
}

#enter {
  background-image: url("/src/images/complete.svg");
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
}

#enter:hover {
  background-color: green;
}

.projectWrapper {
  display: none;
  justify-content: center;
}


#projectForm input {
  width: 75px;
}

ul {
  display: flex;
  flex-direction: column;
}

ul button {
  border: none;
  background-color: #DCDCDC;
  font-size: large;
  padding: .5rem;
}