@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.woff2') format('woff2'),
      url('./Roboto-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

html, body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ebe8e8;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 1rem;
  background-color: #13262f;
  color: white;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.leftColumn {
  background-color: #DCDCDC;
  width: 20vw;
}

.content {
  display: flex;
  margin: 3rem;
  border-radius: 25px;
  flex: 1;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: .5rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 225px;
  height: fit-content;
  border: 1px aliceblue solid;
}

.description {
  font-size: .75rem;
}

.formWrapper {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

#form {
  height: fit-content;
  width: fit-content;
  border: 1px black solid;
  padding: 1rem;
  background-color: whitesmoke;
}

#form legend {
  text-align: center;
}

fieldset {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 5px;
  border: none;
}

#radio-group {
  display: inline-block;
}

.submitWrapper {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

#submit, #close {
  width: 100px;
}

textarea {
  resize: none;
}

#newItem {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;

}